<!--page heading-->
<div class="page-header center_text" >
   <h1>Documentation</h1>
  <p class="lead">sources, methods of visualizations and handling of ucertainty</p>
</div>

<!-- Content -->
<div class="row" style="padding:20px">
  <div class="col-md-10 col-md-offset-1">    
	  <ul class="nav nav-tabs" style="margin-bottom: 15px;">
	    <li class="active"><a href="#home" data-toggle="tab">Excavations in Nemi</a></li>
	    <li class=""><a href="#profile" data-toggle="tab">3D model generation</a></li>
	    <li class="disabled"><a>Handling of uncertainty</a></li>
	    <li class="dropdown">
	      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
	        Contact <span class="caret"></span>
	      </a>
	      <ul class="dropdown-menu">
	        <li><a href="#dropdown1" data-toggle="tab">Action</a></li>
	        <li class="divider"></li>
	        <li><a href="#dropdown2" data-toggle="tab">Another action</a></li>
	      </ul>
	    </li>
	  </ul>
	  <div id="myTabContent" class="tab-content">
	    <div class="tab-pane fade active investigated" id="home">
	    	<h4>Description of archaeological site in Nemi</h4>
	    	<div class="row">
		    	<div class="col-md-5">	    		
		      		<p>Archaeological site investigated in this project is situated in municipality of Nemi in central Italy. Nemi
					is located 30km south-east from Rome and it belongs to the province of Rome. The exact location of the excavations in the northern part of the Nemi basin. This basin is a former volcanic crater and its southern part is covered by the lake holding the same name Nemi. Since 1984, this area is part of the national park called Parco Naturale dei Castelli Romani.</p>
		    	</div>
		    	<div class="col-md-5 col-md-offset-2">
		    		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23825.562959507748!2d12.706831858635084!3d41.716302865235534!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDHCsDQzJzI4LjIiTiAxMsKwNDInMzMuMiJF!5e0!3m2!1sen!2scz!4v1409472268737" width="400" height="250" frameborder="0" style="border:0"></iframe>
		    	</div>
		    </div>
		    <br>
		    <div class="row">
		    	<div class="col-md-5">	    	
		    		<%= image_tag 'sanctuary_photo', class: "img-responsive img-centre" %>
		    	</div>
		    	<div class="col-md-5 col-md-offset-2">
		    		<p>This project is focussing on the ruins of ancient temple named Sanctuary of Diana. Diana Nemorensis,
					sometimes also known as Diana of Nemi or Diana of the Wood, was an Italian goodness worshipped
					in ancient Roman religion. According to the Roman mythology, Diana was the goddess of the hunt,
					moon, and birthing. She has been usually associated with wild animals and woodland. This temple
					was connected by the Via Virbia to one of the most important roads in Rome called Via Appia which was connecting Rome and nowadays Brindisi. (Abo El Wafa et al., 2012) </p>
		    	</div>
	    	</div>
	    </div>
	    <div class="tab-pane fade" id="profile">
	      <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.</p>
	    </div>
	    <div class="tab-pane fade" id="dropdown1">
	      <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork.</p>
	    </div>
	    <div class="tab-pane fade" id="dropdown2">
	      <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater.</p>
	    </div>
	  </div>
	  <br>
	</div>
</div>
