<!--page heading-->
<div class="page-header center_text" >
   <h2>Your access is not authorized</h2>
</div>

<!-- Content -->
<div class="row" style="padding:20px">
	<div class="col-md-10 col-md-offset-1">
		<p>Your account has to be authorized in order to visit this page.</p>
		<p>Let us know, if you wish to became an athorized user:</p>
		<br>
		<legend>Write us</legend>
		    <p>Please, tell us something about you and reason why do you want to visit this page.<p>
		    <p></p>
		    <a href="mailto:danielova.mariana@gmail.com?Subject=Diana Temple authorization" target="_top">
danielova.mariana@gmail.com</a>
	</div>	
</div>

