<!--page heading-->
<div class="page-header center_text" >
   <h2>Your access is not authorized</h2>
</div>

<!-- Content -->
<div class="row" style="padding:20px">
	<div class="col-md-10 col-md-offset-1">
		<p>Your account has to be authorized in order to visit this page.</p>
		<p>Let us know, if you wish to became an athorized user:</p>
		<br>
		<form class="form-horizontal">
		  <fieldset>
		    <legend>Write us</legend>
		    <div class="form-group">
		      <label for="inputEmail" class="col-lg-2 control-label">Your email</label>
		      <div class="col-lg-10">
		        <input type="text" class="form-control" id="inputEmail" placeholder="Email">
		      </div>
		    </div>
		    <div class="form-group">
		      <label for="textArea" class="col-lg-2 control-label">Text area</label>
		      <div class="col-lg-10">
		        <textarea class="form-control" rows="5" id="textArea"></textarea>
		        <span class="help-block">Please, tell us something about you and reason why do you want to visit this page.</span>
		      </div>
		    </div>
		    <div class="form-group">
		      <div class="col-lg-10 col-lg-offset-2">
		        <button type="submit" class="btn btn-primary">Send</button>
		      </div>
		    </div>
		  </fieldset>
		</form>
	</div>	
</div>

